
html, body {
  height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000000;
    overflow: hidden; 
}

.open {
  text-align: center;
  background-color: #000000;
  width: 100%;
  min-height: 100vh; /* Full viewport height */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title{
  font-family: "Argue Regular";
  src: local("Argue\ Regular"), 
  url("./fonts/Argue Regular.otf") format("opentype");
  
  font-size: clamp(16px, 60vw, 80px);
  color: #fdf9f9e0;
}

.carousel-item {
  height: 100vh;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 60%;
  object-position: 50% 50%;
}

ul.subtitle {
  list-style: none;
  clear: none;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.link-item {
  font-family: "Geneva";
  font-style: oblique;
  font-size: 20px;
  color: #fdf9f98e;
  text-decoration: none;
  padding: 0rem 1.5rem;
}

.link-item:hover {
  text-decoration: none;
  outline: #ffffff17 double 0.3rem;
}

